.mainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookDiv {
  border:1px solid black;
  width: 22rem;
  height: 35rem;
  overflow: hidden;
  text-align: center;
}


